/* 
    用于布局页面样式
    创建时间 : 2018-5-10, 14:10:17
    更新时间 : 2018-5-15, 13:11:00;
*/

/*******************************************************************************
 * 头部样式
 *******************************************************************************/


/*******************************************************************************
 * 内容
 *******************************************************************************/
.btn {
    margin-right: 10px;
}

.content {
    padding: 0 !important;
}
/*******************************************************************************
 * 子导航
 *******************************************************************************/
.left-block{
    float: left;
    width: 180px;
    height: auto;
    margin-right: 20px; 
}

.user-block {
    height: 180px;
    margin-bottom: 20px;
    background-color: #ffffff;
    border-radius: 0px;
    -moz-box-shadow: 1px 1px 3px rgba(153, 153, 153, 0.349019607843137);
    -webkit-box-shadow: 1px 1px 3px rgba(153, 153, 153, 0.349019607843137);
    box-shadow: 1px 1px 3px rgba(153, 153, 153, 0.349019607843137);
}

.user-block .user-avatar {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 5px;
}

.user-block .user-avatar img {
    width: 64px;
    border-radius: 50%;
}

.user-block .user-name {
    text-align: center;
}

.user-block .set-statistics {
    text-align: right;
    padding: 14px 0px;
}

.user-block .set-statistics .setting, 
.user-block .set-statistics .statistics {
    display: inline-block;
}

.user-block .set-statistics .glyphicon {
    width: 38px;
    line-height: 38px;
    top: 3px;
    right: 5px;
    text-align: center;
    color: #999;
}

.user-block .set-statistics .glyphicon:hover {
    background-color: #f9f9f9;
}

.subnav {
    height: auto;
    margin-bottom: 40px;
    background-color: #fff;
    border-radius: 0px;
    -moz-box-shadow: 1px 1px 3px rgba(153, 153, 153, 0.349019607843137);
    -webkit-box-shadow: 1px 1px 3px rgba(153, 153, 153, 0.349019607843137);
    box-shadow: 1px 1px 3px rgba(153, 153, 153, 0.349019607843137);
}

.subnav ul {
    padding: 0;
    margin: 0;
}

.subnav ul > li > a.links {
    display: inline-block;
    width: 100%;
    height: 48px;
    padding: 13px 35px;
    color: #999;
    font-style: normal;
    text-align: left;
    line-height: 20px;
    text-decoration: none;
}

.subnav ul > li.active > a.links {
    background-color: #28b28b;
    color: #ffffff;
}

.subnav ul > li.active .white {
    position: absolute;
    margin-top: 12px;
    height: 22px;
    width: 4px;
    background-color: #fff;
    display: inline-block;
}