/* 
    用于布局页面样式
    创建时间 : 2018-5-10, 14:10:17
    更新时间 : 2018-5-15, 13:11:00;
*/

/*******************************************************************************
 * 头部样式
 *******************************************************************************/


/*******************************************************************************
 * 内容
 *******************************************************************************/
.content {
    padding: 0 !important;
}
/*******************************************************************************
 * 子导航
 *******************************************************************************/
.left-block{
    float: left;
    width: 160px;
    height: auto;
    margin-right: 40px; 
}

.user-block {
    height: 160px;
    margin-bottom: 20px;
    background-color: #ffffff;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
}

.user-block .user-avatar {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 5px;
}

.user-block .user-avatar img {
    width: 64px;
    border-radius: 50%;
}

.user-block .user-name {
    text-align: center;
}

.user-block .set-statistics {
    text-align: right;
    padding: 10px 0px;
}

.user-block .set-statistics .setting, 
.user-block .set-statistics .statistics {
    display: inline-block;
}

.user-block .set-statistics .glyphicon {
    width: 32px;
    line-height: 32px;
    top: 3px;
    text-align: center;
    color: #999;
}

.user-block .set-statistics .active .glyphicon {
    background-color: #f9f9f9;
    border: 1px solid #e4e4e4;
}

.subnav {
    height: auto;
    margin-bottom: 40px;
    background-color: #fff;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
}

.subnav ul {
    padding: 0;
    margin: 0;
}

.subnav ul > li {
    border-bottom: 1px dotted #d2d2d2;
}

.subnav ul > li.remove {
    border-bottom: none;
}

.subnav ul > li > a.links {
    display: inline-block;
    width: 100%;
    height: 48px;
    padding: 13px 35px;
    color: #999;
    font-style: normal;
    text-align: left;
    line-height: 20px;
    text-decoration: none;
}

.subnav ul > li.active > a.links {
    background-color: #28b28b;
    color: #ffffff;
}

.subnav ul > li.active .white {
    position: absolute;
    margin-top: 12px;
    height: 22px;
    width: 4px;
    background-color: #fff;
    display: inline-block;
}