/**发送手机验证码按钮**/
.site-login .time_button,
.site-signup .time_button, 
.get-password .time_button {
    float: right;
    width: 140px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background-color: #337ab7;
    border: 1px solid #ccc;
    box-sizing: border-box;	
    vertical-align: middle;
    cursor: pointer;
    color: #fff;
}

.site-login .time_button.unabled,
.site-signup .time_button.unabled, 
.get-password .time_button.unabled {
    background-color: lightblue;
    color: #eee;
    cursor: default;
}
/************************************登录页样式*********************************/
.site-login .mediacloud {
    width: 100%;
    min-height: 940px;
    background-size: cover;
    background-position: center 0;
    background-repeat: no-repeat;
    background-color: #ebebeb;
}

.site-login .mediacloud .platform {
    width: 400px;
    height: 500px;
    padding: 10px;
    background-color: #ffffff;
    position: relative;
    top: 170px;
    font-size: 0px;
}

.site-login .mediacloud .platform .tab-title img {
    position: absolute;
    top: 5px;
    right: 5px;
}

.site-login .mediacloud .platform .tab-list {
    width: 370px;
    height: 60px;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    border-bottom: 1px solid #eee;
}

.site-login .mediacloud .platform .tab-list .pas-login.active,
.site-login .mediacloud .platform .tab-list .phone-login.active {
    color: #333;
    border-bottom: 2px solid #333;
}

.site-login .mediacloud .platform .tab-list .pas-login,
.site-login .mediacloud .platform .tab-list .phone-login{
    width: 60px;
    height: 59px;
    line-height: 65px;
    cursor: pointer;
    font-size: 15px;
    float: left;
    text-align: left;
    margin-right: 25px;
    display: inline-block;
    color: #999;
}

.site-login .mediacloud .platform .name {
    height: auto;
    text-align: left;
    margin-left: 15px;
    float: left;
    display: inline-block;
    position: relative;
    top: 10px;
}

.site-login .mediacloud .platform .frame {
    width: 100%;
    position: relative;
    font-size: 14px;
}

.site-login .mediacloud .platform .frame .attr-name{
    height: 69px;
    margin-top: 41px;
    padding-right: 20px !important;
}

.site-login .mediacloud .platform .frame .attr-phone{
    height: 69px;
    margin-top: 41px;
    padding-left: 15px;
    padding-right: 20px !important;
}

.site-login .mediacloud .platform .frame .attr-pass{
    height: 69px;
    padding-right: 20px !important;
}

.site-login .mediacloud .platform .frame .btn-primary,
.form-control{
    height: 40px  !important;
    border-radius: 0px  !important;
}

.site-login .mediacloud .field-user-code {
    height: 69px;
    margin-bottom: 0px;
}

/** 短信找回密码页面 **/
.site-password .input-content {
    height: 69px;
}

/*验证码*/
.site-password .field-user-code .icon-y {
    position: absolute;
    bottom: 127px;
    left: 257px;
    color: #5cb85c;
}

.site-password .field-user-code .icon-n {
    position: absolute;
    bottom: 127px;
    left: 257px;
    color: #d9534f;
}

.site-password .name-info {
    padding-left: 5px;
    text-align: left;
    padding-top: 5px;
}

/************************************平台首页************************************/
.site-index {
    
}


/****************************重置密码页面**************************/
.site-password {
    width: 700px;
    margin: 0px auto;
    text-align: center;
    position: relative;
}

.site-password .request-reset {
    background: white;
    border: 0 none;
    box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.1);
    padding: 10px 30px;
    box-sizing: border-box;
    width: 80%;
    margin: 10%;
    position: absolute;
}

.site-password .request-reset .fs-title{
    font-size: 16px;
    text-transform: uppercase;
    color: #2C3E50;
    margin-bottom: 10px;
}

.site-password .request-reset .fs-subtitle{
    font-weight: normal;
    font-size: 13px;
    color: #666;
    margin-bottom: 20px;
}

.site-password .form-horizontal .form-group {
    margin-right: -15px;
    margin-left: -15px;
    height: 75px;
    margin-bottom: 0px;
}

.site-password .request-reset input {
    border: 1px solid #ccc;
    border-radius: 0px;
    width: 100%;
    height: 40px;
    box-sizing: border-box;
    font-family: montserrat;
    color: #2C3E50;
    font-size: 13px;
}

.site-password .form-group .help-block {
    float: left;
}

.site-password .request-reset .form-group button {
    margin-top: 10px;
}