/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2019-3-11, 10:38:41
    Author     : Kiwi
*/

.zTree-dropdown-container{
    width: 100%;
    box-sizing: border-box;
    display: inline-block;
    margin: 0;
    position: relative;
    vertical-align: middle;
}

.zTree-dropdown-container--krajee{
    display: block;
}

.zTree-dropdown-container--krajee .zTree-dropdown-selection{
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    width: 100%;
    display: inline-block;
    background-color: #fff;
    border: 1px solid #ccc;
    color: #555555;
    font-size: 14px;
    cursor: default;
    z-index: -1;
}

.has-error .zTree-dropdown-container--krajee .zTree-dropdown-selection{
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #ce8483;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #ce8483;
    border-color: #843534;
}

.zTree-dropdown-container--krajee .zTree-dropdown-selection__placeholder{
    color: #999;
}

.zTree-dropdown-container--krajee .zTree-dropdown-selection__arrow{
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
    border-top: 6px solid black;;
    position: absolute;
    right: 10px;
    top: 15px;
}

.zTree-dropdown-container--krajee .zTree-dropdown-selection--single{
    height: 34px;
    line-height: 1.428571429;
    padding: 6px 24px 6px 12px;
}

.zTree-dropdown-container--krajee .zTree-dropdown-options{
    background-color: white;
    border: 1px solid #4aa5ff;
    border-radius: 0px;
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 100%;
    z-index: 1051;
    max-height: 200px;
    overflow-y: auto;
}