/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2018-12-25, 14:01:55
    Author     : Administrator
*/

.btn {
    margin-right: 10px;
}

.media-view .mc-tabs > ul > li > a {
    width: 130px;
    text-align: center;
    color: #666666;
}

/*******************************************************************************
 * 只有主布局时的样式
 *******************************************************************************/
.mediacloud .header {
    display: inline-block;
    width: 100%;
    height: 100%;
    margin-bottom: 20px;
    background-color: #fff;
    border-radius: 0px;
    -moz-box-shadow: 1px 1px 3px rgba(153, 153, 153, 0.349019607843137);
    -webkit-box-shadow: 1px 1px 3px rgba(153, 153, 153, 0.349019607843137);
    box-shadow: 1px 1px 3px rgba(153, 153, 153, 0.349019607843137);
}

.mediacloud .header .container {
    padding-left: 0px;
    padding-right: 0px;
}

.mediacloud .header .container .media-title {
    padding-top: 35px;
    padding-bottom: 30px;
}

.mediacloud .header .container .media-title .media-name{
    display: block;
    font-size: 24px;
    color: #666666;
}

.mediacloud .header .container .media-title .media-tags {
    font-size: 13px;
    color: #999999;
}

.mediacloud .header .container .operation {
    margin-bottom: 20px;
}

.mediacloud .header .container .operation .panel-left {
    width: 50%;
    display: inline-block
}

.mediacloud .header .container .operation .panel-right {
    display: inline-block;
    float: right;
}

.mediacloud .header .container .operation .btn-ellipse{
    color: #999999;
    background-color: #f2f2f2;
    border-color: #f2f2f2;
    line-height: 35px;
    padding: 8px 20px;
    border-radius: 15px;
}

.mediacloud .header .container .operation .fav-red {
    color: #FC583D;
}

.content {
    padding: 0 !important;
}

.content .common {
    width: 100%;
    background-color: #fff;
    margin-bottom: 30px;
    border-radius: 0px;
    -moz-box-shadow: 1px 1px 3px rgba(153, 153, 153, 0.349019607843137);
    -webkit-box-shadow: 1px 1px 3px rgba(153, 153, 153, 0.349019607843137);
    box-shadow: 1px 1px 3px rgba(153, 153, 153, 0.349019607843137);
}

.content .common .mc-tabs {
    margin-bottom: 15px;
}