/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2018-12-25, 14:01:55
    Author     : Vito
*/

/*******************************************************************************
 * 内容
 *******************************************************************************/
.content .media-index .mc-title .glyphicon {
    width: 35px;
    line-height: 35px;
    top: 3px;
    text-align: center;
    color: #999;
    border: 1px solid #e4e4e4;
}

.content .media-index .mc-title .active .glyphicon {
    background-color: #f2f2f2;
}

.content .media-index .mc-title .glyphicon-th-large{
    border-left: transparent;
}

/*******************************************************************************
 * 列表页面
 *******************************************************************************/
.header .mc-form {
    display: block;
    border-bottom: none;
    margin-bottom: 0px;
}
.media-form .search-panel {
    padding: 35px 0px; 
}
/**
 * 存储目录/分类 样式
 **/
.media-form .dir-box .filter-row .filter-row{
    margin: 20px 0;
}
/* 选项 */
.media-form .dir-box .filter-row .filter-item {
    display: inline-block;
    margin: 6px 20px 6px 0;
    text-decoration: none;
    outline: none;
    color: inherit;
}
.media-form .dir-box .filter-row .filter-label {
    padding-right: 0px;
}
.media-form .dir-box .filter-row .filter-control {
    padding-left: 35px;
}
.media-form .dir-box .filter-row .active {
    color: #FC583D;
}
.media-form .dir-box .filter-row .disabled {
    color: #999999;
}


/*替换下拉框的样式*/
.mediacloud .media-form .select2-container--krajee .select2-selection--single .select2-selection__rendered {
    padding-right: 15px;
}
.mediacloud .media-form .select2-container--krajee .select2-selection--single .select2-selection__clear {
    right: 2rem;
}

.media-form .search-panel .search-dir .control-label{
    padding-top: 10px;
}

.media-form .search-icon {
    width: 40px;
    height: 40px;
    float: right;
    text-align: center;
    color: #cccccc;
    padding-top: 11px;
    position: absolute;
    bottom: 0px;
    right: 15px;
    z-index: 2;
    cursor: pointer;
}

.media-form .form-group .checkbox-list-label {
    margin: 5px 30px 10px 20px;
    color: #666666;
    font-weight: normal;
}

.selectall, .unselectall {
    margin: 0px 3px;
    font-size: 13px;
    outline: none;
    text-decoration: none;
    color: #72afd2;
    cursor: pointer;
}

.media-form .search-panel .field-mediasearch-attribute_value_id .dep-dropdown {
    display: inline-block;
    width: 134px;
    margin-right: 5px;
}

.media-index .mc-title .result-num {
    display: inline-block;
}

.media-index .mc-title .result-num span {
    font-size: 13px;
    color: #999999;
}

/*更改表格样式*/
.media-index .mc-table > tbody > tr:hover {
    background-color: #f2f2f2 !important;
}

.media-index .mc-table > tbody > tr > th,
.media-index  .mc-table > tbody > tr > td {
    font-size: 12px !important;
    height: 90px !important;
}

.media-index .mc-table > tbody > tr > td .cover-img {
    height: 79px;
    line-height: 79px;
    overflow: hidden;
}

.common .mc-panel {
    margin-top: 20px;
}

.common .mc-panel .meida-details {
    margin-right: -20px;
}

.common .mc-panel .chart-panel {
    float: left;
    width: 210px;
    margin-bottom: 26px;
    margin-right: 26px;
    border: 1px solid #e4e4e4;
    -webkit-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    transition: all 0.2s linear;
}

.common .mc-panel .chart-panel.hover {
    -webkit-box-shadow: 0 8px 15px rgba(0, 0, 0, 0.15);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.15);
    -webkit-transform: translate3d(0, -2px, 0);
    -moz-transform: translate3d(0, -2px, 0);
    transform: translate3d(0, -2px, 0);
}

.common .mc-panel .checkdiv {
    width: 26px;
    height: 26px;
    display: inline-block;
    position: absolute;
    z-index: 1;
}

.common .mc-panel .checkbox{
    position: absolute;
    z-index: 1;
    margin-left: 4px;
    width: 14px;
    height: 14px;
} 

.common .mc-panel .chart-panel .chart-header {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 158px;
    background-color: #fff;
    border-bottom: 1px solid #e4e4e4;
}

.common .mc-panel .chart-panel .chart-body {
    display: inline-block;
    width: 100%;
    padding-right: 10px;
    padding-bottom: 5px;
    padding-left: 10px;
    border-bottom: 1px solid #f2f2f2;
}

.mc-panel .chart-panel .tuip {
    display: inline-block;
    width: 100%;
    height: 17px;
    margin-top: 10px;
    font-size: 12px;
    color: #aaa;
    font-weight: normal;
}

.mc-panel .chart-panel .tuip .title{
    width: 188px;
    height: 34px;
    white-space: initial;
    word-break: break-word;
    color: #666666;
}

.mc-panel .hover .pull-right {
    color: #FC583D;
}

.mc-panel .chart-panel .chart-footer {
    margin-right: 10px;
    margin-left: 10px;
}

.mc-panel .chart-panel .chart-footer .glyphicon {
    font-size: 14px;
}

/*******************************************************************************
 * 详情页面
 *******************************************************************************/
.media-view .mc-panel {
    margin-top: 5px;
}

.media-view .mc-panel .resource-list {
    width: 100%;
    height: 100%;
    margin-bottom: 80px;
}

.media-view .mc-panel .table {
    border: 1px solid #e4e4e4;
}

.resource-list .panel-left {
    width: 50%;
    display: inline-block;
}

.resource-list .panel-right {
    width: 50%;
    float: right;
}

.resource-list .panel-right .table .detail-th {
    border-left-style: hidden;
}

.media-view .mc-panel .table .detail-th {
    width: 127px;
    text-align: right;
    padding-right: 10px;
    background-color: #f9f9f9;
}

.media-view .mc-panel .table .detail-td {
    text-align: left;
    padding-left: 10px;
}

.media-view .mc-panel .resource-show {
    width: 100%;
    height: 100%;
    text-align: center;
}