/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2018-12-27, 13:39:58
    Author     : Kiwi
*/
/*******************************************************************************
 *
 * 公共
 *
********************************************************************************/
.myModal .modal-body{
    padding: 15px 30px;
}

#submit-result{
    margin-left: 10px;
    color: #d43f3a;
}

/*******************************************************************************
 *
 * media-search & media-approve-search
 *
********************************************************************************/
.media-search .panel,
.media-approve-search .panel,
.media-recycle-search .panel {
    padding: 15px 0px; 
    margin-bottom: 30px; 
    border: 1px solid #e4e4e4; 
    background: #f9f9f9;
}

.media-index .panel .title {
    height: auto;
    float: right;
    padding-bottom: 10px;
    display: inline-block;
    line-height: 0px;
    border-bottom: none;
}

/*******************************************************************************
 *
 * media-form
 *
********************************************************************************/
.form .nav-tabs {
    padding-left: 0 !important; 
    border: 1px solid #ddd;
    background-color: #f2f2f2;
}

.form .nav-tabs > li {
    float: left;
    margin-top: -1px;
    margin-bottom: -1px;
    margin-left: -1px;
}

.form .nav-tabs > li > a {
    margin-right: 0;
    border-radius: 0;
}

.form .tab-content {
    padding: 15px 0px; 
    border: 1px solid #ddd;
    border-top: none;
}

.form .media-watermark {
    position: relative;
    display: inline-block;
    width: 92px;
    height: 70px;
    margin-right: 10px;
    font-size: 0px;
    line-height: 70px;
    text-align: center;
    border: 1px solid #e4e4e4;
}

.form .media-watermark > input[type="checkbox"] {
    position: absolute;
    top: 3px;
    left: 3px;
    margin-top: 0px;
}

/*******************************************************************************
 *
 * media-view
 *
********************************************************************************/
.media-view .nav-tabs {
    padding-left: 0 !important; 
    border: 1px solid #ddd;
    background-color: #f2f2f2;
}

.media-view .nav-tabs > li {
    float: left;
    margin-top: -1px;
    margin-bottom: -1px;
    margin-left: -1px;
}

.media-view .nav-tabs > li > a {
    margin-right: 0;
    border-radius: 0;
}

.media-view .tab-content {
    padding: 15px; 
    border: 1px solid #ddd;
    border-top: none;
}

/*******************************************************************************
 *
 * media-import-index & media-import-create
 *
********************************************************************************/
.media-import-index .title,
.media-import-create .title {
    height: 50px;
    line-height: 50px;
    color: #333;
    font-size: 16px;
    font-weight: 700;
}

.media-import-index .uploader {
    position: relative;
    display: inline-block;
}

.media-import-index .uploader .btn-pick {
    position: relative;
    display: inline-block;
    cursor: pointer;
    background: #00a2d4;
    color: #fff;
    border-radius: 0px;
    overflow: hidden;
    height: 35px;
}

.media-import-index .uploader .file-box {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 82px;
    height: 35px;
    line-height: 35px;
    overflow: hidden;
}

.media-import-index .uploader .file-box .file-input {
    opacity: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 10;
    cursor: pointer;
    font-size: 0;
}