/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2018-12-27, 13:39:58
    Author     : Kiwi
*/
/*******************************************************************************
 *
 * 公共
 *
********************************************************************************/
.myModal .modal-body{
    padding: 15px 30px;
}

#submit-result{
    margin-left: 10px;
    color: #d43f3a;
}

/*******************************************************************************
 *
 * order-search & play-approve-search & order-goods-search & acl-search
 *
********************************************************************************/
.order-search .panel,
.play-approve-search .panel,
.order-goods-search .panel,
.acl-search .panel {
    padding: 15px 0px; 
    margin-bottom: 30px; 
    border: 1px solid #e4e4e4; 
    background: #f9f9f9;
}

/*******************************************************************************
 *
 * order-view & play-approve-view
 *
********************************************************************************/
.order-view .nav-tabs,
.play-approve-view .nav-tabs {
    padding-left: 0 !important; 
    border: 1px solid #ddd;
    background-color: #f2f2f2;
}

.order-view .nav-tabs > li,
.play-approve-view .nav-tabs > li {
    float: left;
    margin-top: -1px;
    margin-bottom: -1px;
    margin-left: -1px;
}

.order-view .nav-tabs > li > a,
.play-approve-view .nav-tabs > li > a {
    margin-right: 0;
    border-radius: 0;
}

.order-view .tab-content, 
.play-approve-view .tab-content {
    padding: 15px; 
    border: 1px solid #ddd;
    border-top: none;
}